<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ts login register viewdetails page</title>
  </head>
  <body>
    <div class="main-layout">
      <div class="components">
        <p>Click the needed</p>
        <div class="button-components">
          <button type="button" class="main-login-button" onclick="window.location.href = 'login.html'">Login</button>
          <button type="button" class="main-login-button" onclick="window.location.href = 'signup.html'">SignUp</button> 
        </div>          
      </div>
    </div>
  </body>
</html>